%{?scl:%scl_package nodejs-%{npm_name}}
%{!?scl:%global pkg_name %{name}}

%global npm_name {{{NAME}}}

Name: %{?scl_prefix}{{{RPM_PACKAGE_NAME}}}
Version: {{{VERSION}}}
Release: {{{RELEASE}}}%{?dist}
Summary: {{{SUMMARY}}}
License: {{{LICENSETYPE}}}
Group: Development/Libraries
URL: {{{PROJECTURL}}}
{{#each SOURCES}}
{{{.}}}
{{/each}}
%if 0%{?!scl:1}
BuildRequires: nodejs-packaging
%endif
{{#each DEPENDENCIES}}
Requires: {{{.}}}
{{/each}}
BuildArch: noarch
ExclusiveArch: %{nodejs_arches} noarch
Provides: %{?scl_prefix}npm(%{npm_name}) = %{version}

%description
%{summary}

%prep
%setup -q -n package

%install
mkdir -p %{buildroot}%{nodejs_sitelib}/%{npm_name}
{{#each COPYFILES}}
cp -pfr {{{.}}} %{buildroot}%{nodejs_sitelib}/%{npm_name}
{{/each}}
{{#if BINARIES}}

mkdir -p %{buildroot}%{_bindir}
{{/if}}
{{#each BINARIES}}
chmod 0755 %{buildroot}%{nodejs_sitelib}/%{npm_name}/{{{this}}}
ln -sf %{nodejs_sitelib}/%{npm_name}/{{{this}}} %{buildroot}%{_bindir}/{{{@key}}}
{{/each}}

{{^PACKAGE_NAME_HAS_SLASH}}
%nodejs_symlink_deps

%check
%{nodejs_symlink_deps} --check
{{/PACKAGE_NAME_HAS_SLASH}}

%files
%{nodejs_sitelib}/%{npm_name}
{{#each BINARIES}}
%{_bindir}/{{{@key}}}
{{/each}}
{{#each LICENSEFILES}}
%license {{{.}}}
{{/each}}
{{#each DOCFILES}}
%doc {{{.}}}
{{/each}}

%changelog
